# Maven
target/
*.jar
*.war
*.ear
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# IDE
.idea/
*.iml
.vscode/
*.code-workspace
.DS_Store

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build output
*.class
dependency-reduced-pom.xml